services:
  # Backend Service
  - type: web
    name: blog-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRE
        value: 7d
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: FRONTEND_URL
        value: https://blogapp-1-3wg3.onrender.com

  # Frontend Service
  - type: web
    name: blog-frontend
    env: static
    buildCommand: npm install && cd frontend && npm install && CI=false npm run build
    staticPublishPath: frontend/build
    pullRequestPreviewsEnabled: false
    envVars:
      - key: REACT_APP_API_URL
        sync: false
      - key: REACT_APP_TINYMCE_API_KEY
        sync: false

